<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style1.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <a href="/admin" class="btn btn-warning my-2 my-sm-0 ml-auto" >Admin Login</a>
    </div>
  </nav>
  
  <div class="container my-5">
    <h1 class="text-center mb-5">Questions</h1>
    <% if (questions.length) { %>
      <div class="row">
        <% questions.forEach(function(question) { %>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= question.title %></h5>
                <p class="card-text"><%= question.description %></p>
                <!-- <p class="card-text"><strong>Output: </strong><%= question.output %></p> -->
                <a href="solve/<%= question.id %>" class="btn btn-primary">Solve this question</a>


              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p class="text-center">No questions found.</p>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./script.js"></script>
</body>
</html>












