<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <form action="login" method="post" class="login-form">
      <h1>Login</h1>
      <div class="input-container">
        <input type="text" placeholder="Username" name="uname" required>
      </div>
      <div class="input-container">
        <input type="password" placeholder="Password" name="psw" required>
      </div>
      <button  type="submit">Login</button>
      <div class="signup-link">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </form>
  </body>
</html>
