<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Website - Solve</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Solve</a>
        </li>
      </ul>
      <a href="/admin" class="btn btn-warning my-2 my-sm-0 ml-auto" >Admin Login</a>
    </div>
  </nav>
  
  <div class="container my-5">
    <h1 class="text-center mb-5"><%= question1.title %></h1>
    <p class="text-center"><%= question1.description %></p>
    <form onsubmit="return verify()" class="my-5">
      <div class="form-group">
        <label for="input">Input</label>
        <textarea class="form-control" id="input-answer" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script >
    function verify() {
    const input = document.getElementById("input-answer").value.trim();
    const output = '<%= question1.output %>';
    if (input === output) {
      alert('Pass');
      return true;
    } else {
      alert('Fail');
      return false;
    }
  }
   </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
