* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: black; /* set the background color to black */
}

.login-form {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: orange; /* set the form background color to orange */
}

h1 {
  text-align: center;
  margin-top: 0;
  color: black; /* set the h1 text color to black */
}

.input-container {
  margin: 10px 0;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
  box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
  color: black; /* set the input text color to black */
}

button[type="submit"] {
  background-color: black; /* set the button background color to black */
  color: orange; /* set the button text color to orange */
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: darkgoldenrod; /* set the button background color to orange on hover */
  color: black; /* set the button text color to black on hover */
}

.signup-link {
  text-align: center;
  color: white; /* set the signup link text color to white */
}

.signup-link a {
  color: black; /* set the signup link color to orange */
}
